@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:wght@600&display=swap');

.Projectcontainer{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin: 200px 0;
    align-items: center;
}
.Projectcontainer >h1{
    padding-bottom: 15px;
    
}
.Projectcontainer >p {
    padding-bottom: 20px;
    
}
.Projectcontainer__Projects{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap:0 ;
    width: 90vw;
    margin-top: 50px;
}


