.Project > img {
    width: 350px;
    height: 179px;
}
.Project{
    margin: 15px;
    width: 350px;
    height: 179px;
    transition: transform 100ms ease-in;
}
.Project:hover{
    color: white;
    background-color: #f64c08;
    transform: scale(1.05);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.Project_content{
    padding: 10px;
}
.Project_content > h4{
    padding-bottom: 5px;
}
.Project_content >p {
    font-size: 15px;
}

