@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:wght@600&display=swap');

.SkillContainer{ 
    display: flex;
    margin-right: 300px;
    align-items: center;
    justify-content: center;
    margin-left: 200px 0;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.5);
}   
.SkillContainer_text{
    color: white;
    flex: 0.6;
    text-align: left;
    max-width: 500px;
    margin-bottom: 20px;
}
.SkillContainer_text >h2>{
    font-size: 30px;
}