@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:wght@600&display=swap');

.SkillContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 0;
}
.SkillContainer_text{
    color: white;
    flex: 0.4;
    text-align: left;
    max-width: 500px;
    margin-bottom:250;
}
.SkillContainer_text > h2{
    font-size: 30px;
}
.SkillContainer_image{
    flex: 0.4;
    text-align: center;
    margin-right: 100px;

}
.SkillContainer_image >img{
    padding-top: 100px;
    width: 400px;
    border-radius: 3px;
    object-fit: contain;
}
.SkillContainer_Skillset> h5{
    font-family: "Montserrat",sans-serif;
    font-weight: 300;
    padding-bottom: 30px;
    padding-top: 10px;
}
.SkillContainer_Slider .MuiLinearProgress-colorPrimary{
    background-color: rgb(88,88,88);
}
.SkillContainer_Slider1 >div> .MuiLinearProgress-barColorPrimary {
    background-color: tomato;
}
.SkillContainer_Slider2 >div> .MuiLinearProgress-barColorPrimary {
    background-color: rgb(241, 12, 12);
}
.SkillContainer_Slider3 >div> .MuiLinearProgress-barColorPrimary {
    background-color: rgb(219, 153, 9);
}
.SkillContainer_Slider4 >div> .MuiLinearProgress-barColorPrimary {
    background-color: rgb(228,213,0);
}
.SkillContainer_Slider5 >div> .MuiLinearProgress-barColorPrimary {
    background-color: rgb(136,146,0);
}
.SkillContainer_Slider6 >div> .MuiLinearProgress-barColorPrimary {
    background-color:rgb(126, 255, 6);
}
   
   
   
   
   
    
